<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- none of these kinds of properties for now
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.ijis.gra.uml.qvt.ui.propertyTesters.ShouldShowIndividualTransforms"
            id="org.ijis.gra.uml.qvt.ui.propertyTesters.shouldShowIndividualTransforms"
            namespace="org.ijis.gra.uml.qvt.ui.propertyTesters"
            properties="shouldShowIndividualTransforms"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.ijis.gra.uml.qvt.ui.propertyTesters.ShouldShowGenerateMPD"
            id="org.ijis.gra.uml.qvt.ui.propertyTesters.shouldShowGenerateMPD"
            namespace="org.ijis.gra.uml.qvt.ui.propertyTesters"
            properties="shouldShowGenerateMPD"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.ijis.gra.uml.qvt.ui.propertyTesters.IsInProjectRoot"
            id="org.ijis.gra.uml.qvt.ui.propertyTesters.isInProjectRoot"
            namespace="org.ijis.gra.uml.qvt.ui.propertyTesters"
            properties="isInProjectRoot"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
   -->
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.ijis.gra.uml.ui.test.is_uml">
         <adapt
               type="org.eclipse.core.resources.IResource">
            <or>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_2_0_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_2_1_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_3_0_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_4_0_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_1">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_1_1">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_2">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_4">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_4_1">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof_2_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof_2_4">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof_2_4_1">
               </test>
            </or>
         </adapt>
      </definition>
      <definition id="org.ijis.gra.uml.ui.test.is_single_uml_file">
         <and>
            <count
                  value="1">
            </count>
            <with variable="selection">
               <iterate>
                  <reference definitionId="org.ijis.gra.uml.ui.test.is_uml"/>
               </iterate>
            </with>
         </and>
      </definition>
      <!-- no perspective for now
      <definition
            id="org.ijis.gra.uml.ui.test.is_niem_perspective_active">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.ijis.gra.uml.perspective">
            </equals>
         </with>
      </definition>
      -->
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
   <!-- define selection for spp catalog -->
      <definition
            id="org.ijis.gra.spp.test.is_spp_catalog">
         <adapt
               type="org.eclipse.core.resources.IResource">
            <test
               property="org.eclipse.core.resources.contentTypeId"
               value="org.ijis.gra.spp.catalog">
            </test>
         </adapt>
      </definition>
      <definition id="org.ijis.gra.spp.test.is_single_spp_catalog_file">
         <and>
            <count
                  value="1">
            </count>
            <with variable="selection">
               <iterate>
                      <reference definitionId="org.ijis.gra.spp.test.is_spp_catalog"/>
               <!--
                  <and>
                      <not>
                          <test
                               property="org.ijis.gra.uml.qvt.ui.propertyTesters.isInProjectRoot">
                          </test>
                      </not>
                      <reference definitionId="org.ijis.gra.spp.test.is_spp_catalog"/>
                  </and>
                  -->
               </iterate>
            </with>
         </and>
      </definition>
      
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
         <!-- only consolidate action for gra spp
      <definition
            id="org.ijis.gra.uml.qvt.ui.test.should_show_individual_transforms">
         <test
               forcePluginActivation="true"
               property="org.ijis.gra.uml.qvt.ui.propertyTesters.shouldShowIndividualTransforms">
         </test>
      </definition>
      <definition
            id="org.ijis.gra.uml.qvt.ui.test.should_show_generate_mpd">
         <test
               forcePluginActivation="true"
               property="org.ijis.gra.uml.qvt.ui.propertyTesters.shouldShowGenerateMPD">
         </test>
      </definition>
      <definition
            id="org.ijis.gra.uml.qvt.ui.test.is_niem_qvt_transform_menu_item">
            
         <or>
           <reference
                 definitionId="org.ijis.gra.uml.ui.test.is_niem_perspective_active">
           </reference>
           <reference
                 definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file">
           </reference>
         </or>
      </definition>
      <definition
            id="org.ijis.gra.uml.qvt.ui.test.should_show_individual_transform_menu_item">
         <and>
            <reference
                  definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_individual_transforms">
            </reference>
            <reference
                  definitionId="org.ijis.gra.uml.qvt.ui.test.is_niem_qvt_transform_menu_item">
            </reference>
         </and>
      </definition>
      <definition
            id="org.ijis.gra.uml.qvt.ui.test.should_show_generate_mpd_menu_item">
         <and>
            <reference
                  definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_generate_mpd">
            </reference>
            <reference
                  definitionId="org.ijis.gra.uml.qvt.ui.test.is_niem_qvt_transform_menu_item">
            </reference>
         </and>
      </definition>
      <definition
            id="org.ijis.gra.uml.qvt.ui.test.is_gra_spp_catalog_menu_item">
         <or>
           <reference
                 definitionId="org.ijis.gra.uml.ui.test.is_niem_perspective_active">
           </reference>
           <reference
                 definitionId="org.ijis.gra.spp.test.is_single_spp_catalog_file">
           </reference>
         </or>
      </definition>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%_UI_GRA_UML_Command_Category_description"
            id="org.ijis.gra.uml.qvt.ui.commands.category"
            name="%_UI_GRA_UML_Command_Category_label">
      </category>
<!-- consolidate      
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRApim2psm_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.NIEMpim2psm"
            name="%_UI_GRApim2psm_Command_name">
      </command>
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRApsm2xsd_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.NIEMpsm2xsd"
            name="%_UI_GRApsm2xsd_Command_name">
      </command>
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRAmpdmodel2artifact_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact"
            name="%_UI_GRAmpdmodel2artifact_Command_name">
      </command>
-->      
      <!-- no longer need separate commands
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRAmpdmodel2sdd_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2sdd"
            name="%_UI_GRAmpdmodel2sdd_Command_name">
      </command>
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRAmpdmodel2sidd_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2sidd"
            name="%_UI_GRAmpdmodel2sidd_Command_name">
      </command>
      -->
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRAsppartifact2model_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.GRAsppartifact2model"
            name="%_UI_GRAsppartifact2model_Command_name">
      </command>
      
      <command
            categoryId="org.ijis.gra.uml.qvt.ui.commands.category"
            description="%_UI_GRApim2mpd_Command_description"
            id="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
            name="%_UI_GRApim2mpd_Command_name">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
<!-- consolidate         
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.NIEMpim2psm"
            commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpim2psm">
      </handler>
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.NIEMpsm2xsd"
            commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpsm2xsd">
      </handler>
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.NIEMmpdmodel2artifact"
            commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact">
      </handler>
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.GraSppModel2artifact"
            commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact">
      </handler>

      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.GraSppModel2sdd"
            commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2sdd">
      </handler>
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.GraSppModel2sidd"
            commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2sidd">
      </handler>
      -->
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.GRAsppartifact2model"
            commandId="org.ijis.gra.uml.qvt.ui.commands.GRAsppartifact2model">
      </handler>
<!--      
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.NIEMpim2mpd"
            commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp">
      </handler>
-->      
      <handler
            class="org.ijis.gra.uml.qvt.ui.handlers.GRApim2spp"
            commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp">
      </handler>
   </extension>
   <!-- no accelerators for now
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpim2psm"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U P">
      </key>
      <key
            commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpsm2xsd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U X">
      </key>
      <key
            commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U M">
      </key>
      <key
            commandId="org.ijis.gra.uml.qvt.ui.commands.GRAsppartifact2model"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U A">
      </key>
      <key
            commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U G">
      </key>
      
   </extension>
   -->
   <!-- on the main menu -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/full/eview16/gra_menu.png"
               id="org.ijis.gra.uml.qvt.ui.menu"
               label="%_UI_GRA_UML_Command_Category_label"
               mnemonic="N"
               tooltip="%_UI_GRA_UML_Command_Category_description">
<!-- consolidate               
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpim2psm"
                  disabledIcon="icons/full/obj16/niem_pim2psm_disabled.png"
                  icon="icons/full/obj16/niem_pim2psm.png"
                  id="org.ijis.gra.uml.qvt.ui.menu.NIEMpim2psm"
                  label="%_UI_GRApim2psm_Command_name"
                  mnemonic="p"
                  tooltip="%_UI_GRApim2psm_Command_description">
               <visibleWhen
                     checkEnabled="false">
                   <reference
                         definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_individual_transform_menu_item">
                   </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpsm2xsd"
                  disabledIcon="icons/full/obj16/niem_psm2xsd_disabled.png"
                  icon="icons/full/obj16/niem_psm2xsd.png"
                  id="org.ijis.gra.uml.qvt.ui.menu.NIEMpsm2xsd"
                  label="%_UI_GRApsm2xsd_Command_name"
                  mnemonic="x"
                  tooltip="%_UI_GRApsm2xsd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                   <reference
                         definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_individual_transform_menu_item">
                   </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
                  disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
                  icon="icons/full/obj16/niem_pim2mpd.png"
                  id="org.ijis.gra.uml.qvt.ui.menu.NIEMpim2mpd"
                  label="%_UI_GRApim2mpd_Command_name"
                  mnemonic="g"
                  tooltip="%_UI_GRApim2mpd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_generate_mpd_menu_item">
                  </reference>
               </visibleWhen>
            </command>
-->            
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
                  disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
                  icon="icons/full/obj16/niem_pim2mpd.png"
                  id="org.ijis.gra.uml.qvt.ui.menu.GRApim2mpd"
                  label="%_UI_GRApim2mpd_Command_name"
                  mnemonic="g"
                  tooltip="%_UI_GRApim2mpd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_generate_mpd_menu_item">
                  </reference>
               </visibleWhen>
            </command>
<!--            
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact"
                  disabledIcon="icons/full/obj16/gra_sppmodel2artifact_disabled.png"
                  icon="icons/full/obj16/gra_sppmodel2artifact.png"
                  id="org.ijis.gra.uml.qvt.ui.menu.GraSppModel2artifact"
                  label="%_UI_GRAmpdmodel2artifact_Command_name"
                  mnemonic="m"
                  tooltip="%_UI_GRAmpdmodel2artifact_Command_description">
-->                  
                  <!-- no preferences
               <visibleWhen
                     checkEnabled="false">
                   <reference
                         definitionId="org.ijis.gra.uml.qvt.ui.test.should_show_individual_transform_menu_item">
                   </reference>
               </visibleWhen>
               -->
<!--               
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
-->            
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.GRAsppartifact2model"
                  disabledIcon="icons/full/obj16/gra_sppartifact2model_disabled.png"
                  icon="icons/full/obj16/gra_sppartifact2model.png"
                  id="org.ijis.gra.uml.qvt.ui.menu.GRAsppartifact2model"
                  label="%_UI_GRAsppartifact2model_Command_name"
                  mnemonic="a"
                  tooltip="%_UI_GRAsppartifact2model_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.ijis.gra.spp.test.is_single_spp_catalog_file">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <!-- on the tool bar -->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.ijis.gra.uml.qvt.ui.toolbar"
               label="%_UI_GRA_UML_Command_Category_label">
<!-- consolidate               
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpim2psm"
                  disabledIcon="icons/full/obj16/niem_pim2psm_disabled.png"
                  icon="icons/full/obj16/niem_pim2psm.png"
                  id="org.ijis.gra.uml.qvt.ui.toolbar.NIEMpim2psm"
                  label="%_UI_GRApim2psm_Command_name"
                  mnemonic="p"
                  tooltip="%_UI_GRApim2psm_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpsm2xsd"
                  disabledIcon="icons/full/obj16/niem_psm2xsd_disabled.png"
                  icon="icons/full/obj16/niem_psm2xsd.png"
                  id="org.ijis.gra.uml.qvt.ui.toolbar.NIEMpsm2xsd"
                  label="%_UI_GRApsm2xsd_Command_name"
                  mnemonic="x"
                  tooltip="%_UI_GRApsm2xsd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
                  disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
                  icon="icons/full/obj16/niem_pim2mpd.png"
                  id="org.ijis.gra.uml.qvt.ui.toolbar.NIEMpim2mpd"
                  label="%_UI_GRApim2mpd_Command_name"
                  mnemonic="g"
                  tooltip="%_UI_GRApim2mpd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file">
                  </reference>
               </visibleWhen>
            </command>
                  mnemonic="g"
-->            
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
                  disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
                  icon="icons/full/obj16/niem_pim2mpd.png"
                  id="org.ijis.gra.uml.qvt.ui.toolbar.GRApim2mpd"
                  label="%_UI_GRApim2mpd_Command_name"
                  tooltip="%_UI_GRApim2mpd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file">
                  </reference>
               </visibleWhen>
            </command>
<!--            
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact"
                  disabledIcon="icons/full/obj16/gra_sppmodel2artifact_disabled.png"
                  icon="icons/full/obj16/gra_sppmodel2artifact.png"
                  id="org.ijis.gra.uml.qvt.ui.toolbar.GraSppModel2artifact"
                  label="%_UI_GRAmpdmodel2artifact_Command_name"
                  mnemonic="m"
                  tooltip="%_UI_GRAmpdmodel2artifact_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
-->            
            <command
                  commandId="org.ijis.gra.uml.qvt.ui.commands.GRAsppartifact2model"
                  disabledIcon="icons/full/obj16/gra_sppartifact2model_disabled.png"
                  icon="icons/full/obj16/gra_sppartifact2model.png"
                  id="org.ijis.gra.uml.qvt.ui.toolbar.GRAsppartifact2model"
                  label="%_UI_GRAsppartifact2model_Command_name"
                  mnemonic="a"
                  tooltip="%_UI_GRAsppartifact2model_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.ijis.gra.spp.test.is_single_spp_catalog_file">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <!-- on contextual pop-up menu -->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
<!-- consolidate as single export?            
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpim2psm"
               disabledIcon="icons/full/obj16/niem_pim2psm_disabled.png"
               icon="icons/full/obj16/niem_pim2psm.png"
               id="org.ijis.gra.uml.qvt.ui.popup.NIEMpim2psm"
               label="%_UI_GRApim2psm_Command_name"
               mnemonic="p"
               style="push"
               tooltip="%_UI_GRApim2psm_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.NIEMpsm2xsd"
               disabledIcon="icons/full/obj16/niem_psm2xsd_disabled.png"
               icon="icons/full/obj16/niem_psm2xsd.png"
               id="org.ijis.gra.uml.qvt.ui.popup.NIEMpsm2xsd"
               label="%_UI_GRApsm2xsd_Command_name"
               mnemonic="x"
               style="push"
               tooltip="%_UI_GRApsm2xsd_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
               mnemonic="m"
               mnemonic="a"
               mnemonic="g"
-->         
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.Grapim2spp"
               disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
               icon="icons/full/obj16/niem_pim2mpd.png"
               id="org.ijis.gra.uml.qvt.ui.popup.Grapim2spp"
               label="%_UI_GRApim2mpd_Command_name"
               style="push"
               tooltip="%_UI_GRApim2mpd_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file">
               </reference>
            </visibleWhen>
         </command>
<!--         
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2artifact"
               disabledIcon="icons/full/obj16/gra_sppmodel2artifact_disabled.png"
               icon="icons/full/obj16/gra_sppmodel2artifact.png"
               id="org.ijis.gra.uml.qvt.ui.popup.GRAsppmodel2artifact"
               label="%_UI_GRAmpdmodel2artifact_Command_name"
               style="push"
               tooltip="%_UI_GRAmpdmodel2artifact_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
-->         
         <!-- temporary for testing, to be merged with model to spp -->
         <!--
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2sdd"
               disabledIcon="icons/full/obj16/gra_sppmodel2artifact_disabled.png"
               icon="icons/full/obj16/gra_sppmodel2artifact.png"
               id="org.ijis.gra.uml.qvt.ui.popup.GRAsppmodel2sdd"
               label="%_UI_GRAmpdmodel2sdd_Command_name"
               style="push"
               tooltip="%_UI_GRAmpdmodel2sdd_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.GraSppModel2sidd"
               disabledIcon="icons/full/obj16/gra_sppmodel2artifact_disabled.png"
               icon="icons/full/obj16/gra_sppmodel2artifact.png"
               id="org.ijis.gra.uml.qvt.ui.popup.GRAsppmodel2sidd"
               label="%_UI_GRAmpdmodel2sidd_Command_name"
               style="push"
               tooltip="%_UI_GRAmpdmodel2sidd_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.ijis.gra.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
         -->
         <!-- SPP Catalog and its contents to GRA-UML -->
         <command
               commandId="org.ijis.gra.uml.qvt.ui.commands.GRAsppartifact2model"
               disabledIcon="icons/full/obj16/gra_sppartifact2model_disabled.png"
               icon="icons/full/obj16/gra_sppartifact2model.png"
               id="org.ijis.gra.uml.qvt.ui.popup.GRAsppartifact2model"
               label="%_UI_GRAsppartifact2model_Command_name"
               style="push"
               tooltip="%_UI_GRAsppartifact2model_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.ijis.gra.spp.test.is_single_spp_catalog_file">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <!-- importing an SSP Catalog and its contents to GRA UML -->
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.ijis.gra.uml.qvt.ui._import.category"
            name="%importCategory">
      </category>
      <wizard
            category="org.ijis.gra.uml.qvt.ui._import.category"
            class="org.ijis.gra.uml.qvt.ui._import.ImportSPP"
            icon="icons/full/eview16/import_spp.png"
            id="org.ijis.gra.uml.qvt.ui._import.ImportSPP"
            name="%importSPPWizardName">
         <description>
            %importSPPWizardDescription
         </description>
      </wizard>
   </extension>
   <!-- no preferences for now
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ijis.gra.uml.qvt.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.ijis.gra.uml.ui.preferences.PreferencePage"
            class="org.ijis.gra.uml.qvt.ui.preferences.TransformsPreferencePage"
            id="org.ijis.gra.uml.qvt.ui.preferences.TransformsPreferencePage"
            name="%_UI_TransformsPreferences_name">
      </page>
      <page
            category="org.ijis.gra.uml.ui.preferences.PreferencePage"
            class="org.ijis.gra.uml.qvt.ui.preferences.MPDOutputPreferencePage"
            id="org.ijis.gra.uml.qvt.ui.preferences.MPDOutputPreferencePage"
            name="%_UI_MPDOutputPreferences_name">
      </page>
   </extension>
   -->
   <!-- omg namespaces -->
      <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.omg.org/spec/UML/20110701" 
       class = "org.eclipse.uml2.uml.UMLPackage"
        /> 
  </extension>
     <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schema.omg.org/spec/MOF/2.0/emof.xml"
            class="org.eclipse.emf.ecore.EcorePackage"
            />
   </extension>
  
   
</plugin>
